body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#fff;
  overflow-y: scroll;
  height: 1000vh;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/image1.jpg');
  min-height:100vh;
}

.pimg2{
  background-image:url('../img/image2.jpg');
  min-height:100vh;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:100vh;
}

.pimg4{
  background-image:url('../img/6.jpg');
  min-height:100vh;
}

.pimg5{
  background-image:url('../img/5.jpg');
  min-height:100%;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}


.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
    background-attachment:fixed;
  }
}