.event-popup .inner-wrapper,
.reservation-popup .inner-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative
}

.event-popup .inner-wrapper:after,
.reservation-popup .inner-wrapper:after {
    content: "";
    bottom: 0;
    left: 0;
    width: 50%;
    height: 2.5em;
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0), #fff)
}




    .event-popup .popupcontent img,
    .reservation-popup .right .popupcontent img {
        width: 15.625em
    }
    
    .event-popup .inner-wrapper,
    .reservation-popup .inner-wrapper {
        display: flex;
        flex-wrap: wrap;
        height: 80vh;
        margin-top: 20vh;
        overflow: scroll
    }
    
    .event-popup .inner-wrapper:after,
    .reservation-popup .inner-wrapper:after {
        display: none
    }
    .index-video-popup .inner-wrapper {
        height: 60vh;
        margin: 20vh auto 0
    }
}

.popup-dot .year {
    font-family: Universal-Accreditation;
    letter-spacing: .05em;
    text-transform: uppercase
}

.popup-dot .popupcontent-inner-wrapper {
    overflow: hidden;
    padding-bottom: 14px
}



.popup {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 25;
    background: rgba(128, 128, 128, 0);
    transition: all 0s 0s, left 0s .5s, background .5s 0s
}

.popup .inner-wrapper {
    background: #fff;
    width: 56.25em;
    opacity: 0;
    transform: translateY(30px);
    transition: .5s;
    max-width: 90%;
    height: 90vh;
    margin: 5vh auto 0
}



.popup.active {
    left: 0;
    background: rgba(128, 128, 128, .9);
    transition: all 0s 0s, background .5s 0s
}

.popup.active .inner-wrapper {
    opacity: 1;
    transform: translateY(0)
}

.popup.active .gallery-close-icon {
    transform: rotate(45deg);
    left: .9375em;
    top: .9375em;
    opacity: 1;
    transition: .5s .5s
}
.section.gallery.gallery-view-active .gallery-left .gallery-close-icon,
.section.gallery.gallery-view-active .gallery-left .specs-close-icon,
.section.gallery.gallery-view-active .gallery-right .gallery-close-icon,
.section.gallery.gallery-view-active .gallery-right .specs-close-icon {
    transform: rotate(45deg);
    left: 1.875em;
    top: 1.875em;
    opacity: 1;
    transition: .5s .5s
}
.gallery-close-icon,
.specs-close-icon {
    width: 3em;
    height: 3em;
    left: .625em;
    top: .625em;
    opacity: 0;
    position: absolute;
    z-index: 2;
    transform: rotate(-45deg);
    transition: .75s
}

.gallery-close-icon {
    background: #fff;
    border-radius: 50%
}

.gallery-close-icon:after,
.gallery-close-icon:before,
.specs-close-icon:after,
.specs-close-icon:before {
    content: "";
    width: 1.875em;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.9375em
}

.gallery-close-icon:before,
.specs-close-icon:before {
    margin-top: -1px
}

.gallery-close-icon:after,
.specs-close-icon:after {
    transform: rotate(90deg)
}